* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    overflow-y: hidden;
    box-sizing: border-box;
}

.right-content
{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    position: relative;
    box-sizing: border-box;
    flex: 1;
}

#fundo
{          
    width: 100%;
    height: 100vh;             
    object-fit: fill; 
}

#imagemindex
{
    width: 100%;
    height: 100%;
}

.left-content 
{

    flex: 1;
    margin-right: -10%;
    max-width: 45%;
    

}

.nav-bar
{
    padding: 20px;
    max-width: 100%;
    display: flex;
    align-items: row;
    justify-content: flex-start;
    
}

.navTexto
{

    display: flex;
    justify-content: space-around;
    align-content: space-around;
   
}

.navLista
{

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    white-space: nowrap;
}


.navBotao
{
    background-color: transparent;
    border: none;
    color: #343C6A ;
    font: normal;
    font-size:15px;
    display: flex;
    justify-content:space-between;
    padding: 4px;
    margin-left: 15px;
    cursor: pointer;
}

.navBotao:hover
{
    transform: translateY(-5px);
}

.textoCentro
{
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    padding: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

#textoC1
{
    font-weight: bold;
    font-size: 30px;
}

#textoC2
{
    font-size: 25px;
}

.botaoCadastro
{
    display: flex; 
    justify-content: flex-start; 
    flex-direction: column; 
    align-items: center;
    padding: 20px;
    margin-top: 10px;
}

.botaoCadastro > button
{
    background: rgb(110,84,181);
    background: linear-gradient(90deg, rgba(110,84,181,1) 0%, rgba(43,39,56,1) 100%);
    width: 317px;
    height: 60px;
    border-top-left-radius: 50px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 50px;
    cursor: pointer;           /* Muda o cursor para uma mãozinha */
    transition: transform 0.3s ease;
}

.botaoCadastro > button:hover
{
    transform: translateY(-5px);
}

.botaoCadastro > button > a
{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer; 
}

.botaoCadastro > a
{
    margin-top: 15px;
    color: #343C6A;
    font-weight: bolder;
    display: flex;
    align-items: flex-start;
}

.botaoCadastro > a button
{
    background-color: transparent;
    border: none;
    color: #343C6A ;
    font-size:16px;
    margin-left: 10px;
    cursor: pointer;
}

#teste {
    display: none;
}

@media (max-width: 1200px)
{
    body {
        flex-direction: column;
        overflow-y: auto;
        align-items: center;
    }

    #teste {
        display: block;
    }

    #imagemindex {
        display: none;
    }
}