* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.nav
{
    background-color: #d2d2d2;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav > h2
{
    flex-grow: 1;
    text-align: center;
    color: #343C6A;
}

.content
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.left-content
{
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    flex-direction: column;
}
#blocoloading{
  display: flex;
  justify-content: center;
  width: 100%;
}

#loading{
  border-radius: 100%;
  border: 12px solid #343C6A;
  width: 60px;
  height: 60px;
  border-top: 12px solid transparent;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
  
}

.left-content > img
{
    position: relative;
    display: flex;
    justify-content: left;
}

.endereco {
   
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: 15%    ;
  }
  
  .endereco img {
    margin-right: 10px;
  }
  
  .endereco .txtEndereco{
    margin: 0;
  }
  
  .endereco .txtEndereco {
    font-size: 14px;
  }
.buttonCadastro{
    border: none;
    background-color: #6E54B5;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    width: 200px;
    height: 50px;
}
.buttonCadastro > a{
  text-decoration: none;
  color: #dfdfdc;
}
.buttonCadastro:hover{
  animation: tamanho 1s linear infinite;
}

@keyframes tamanho {
  0%{
    scale: 1;
  }
  50%{
    scale: 1.05;
  }
  100%{
    scale:1;
  }
  
}

@media (max-width: 768px) {
    .iconMapa {
      max-width: 100%; /* Faz os blocos ocuparem toda a largura da tela */
    }
    
    .body {
      flex-direction: column; /* Alinha verticalmente em telas menores */
      align-items: center;
    }

    .image-right {
        display: none;
    }
}