<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/Home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <nav class="nav">
        <img src="../Images/icones/iconePorco.png">
        <h2>COFRINHO DIGITAL</h2>
        <div>
            <button id="btnSair"><img src="../Images/icones/iconeSair.png"> Sair</button>
        </div>
    </nav>
    <div id="mensagemResponse">
        <span id="mensagem"> Um link para ativação da sua conta foi enviado para o seu email</span>
         <span class="material-symbols-outlined" onclick="fechar()">
             close
          </span>
     </div>
    <div class="main">
        <div class="side-bar">
            <img src="../Images/icones/iconeDashboard.png" class="iconeSide-bar" id="dashboard"> 
            <a href="Endereco.html" class="side-bar endereco">
                <span class="material-symbols-outlined iconeSide-bar iconEndereco">
                    home_pin
                </span>
                <span>Endereço</span>
            </a>
        </div>
       
        <div class="content">
            <div class="left-content">
                <div class="banner">
                    <h4>Controle seu dinheiro hoje, conquiste seu futuro amanhã.</h4>
                    <img src="../Images/icones/porcoBanner.png">
                </div>
                <div class="containerGrafico">
                    <div class="valoresGrafico">
                        <p>$7560 debitado e $5,460 creditado durante esses meses</p>
                        <div>
                            <div class="debito"></div>
                            <p>debito</p>
                        </div>
                        <div>
                            <div class="creditado"></div>
                            <p>credito</p>
                        </div>
                    </div>
                
                    <div class="grafico">
                        <div class="mes">
                            <div class="numeros">60%</div>
                            <div class="numeros">80%</div>
                        </div>
                        <div class="mes">
                            <div class="numeros">80%</div>
                            <div class="numeros">90%</div>
                        </div>
                        <div class="mes">
                            <div class="numeros">40%</div>
                            <div class="numeros">90%</div>
                        </div>
                        <div class="mes">
                            <div class="numeros">80%</div>
                            <div class="numeros">50%</div>
                        </div>
                        <div class="mes">
                            <div class="numeros">80%</div>
                            <div class="numeros">80%</div>
                        </div>
                        <div class="mes">
                            <div class="numeros">30%</div>
                            <div class="numeros">90%</div>
                        </div>
                        
                    </div>
                
                    <div class="nomeMes">
                        <div>janeiro</div>
                        <div>fevereiro</div>
                        <div>março</div>
                        <div>abril</div>
                        <div>maio</div>
                        <div>junho</div>
                        
                    </div>
                </div>
                
            </div>
            <div class="right-content">
                <div class="content-cartoes">
                    <h4>Meus Cartões</h4>
                    <div class="cartoes">
                        <div class="cartao1">
                            
                            <div class="saldo">
                                <div class=" textoSaldo">
                                    <h5>SALDO</h5>
                                    <h6 class="salarioVl">R$1389,00</h6>
                                </div>
                                <img src="../Images/icones/chipCard.png" class="chipCartao">
                            </div>
                            <div class="titular">
                                <h5>TITULAR</h5>
                                <h6 class="textoTitular">Bianca G Silva</h6>
                            </div>
                            <div class="validade">
                                <h5>VÁLIDO ATÉ</h5>
                                <h6 class="textoValidade">12/35</h6>
                            </div>
                            <div class="numCartao">
                                <h6 class="textoNCartao">2778 **** **** 1937</h6>
                                <img src="../Images/icones/bandeiraCard.png">
                            </div>
                        </div>
                        <div class="cartao2">
                            
                            <div class="saldo">
                                <div class=" textoSaldo">
                                    <h5>SALDO</h5>
                                    <h6 class="salarioVl">R$1389,00</h6>
                                </div>
                                <img src="../Images/icones/chipCard.png" class="chipCartao">
                            </div>
                            <div class="titular">
                                <h5>TITULAR</h5>
                                <h6 class="textoTitular">Bianca G Silva</h6>
                            </div>
                            <div class="validade">
                                <h5>VÁLIDO ATÉ</h5>
                                <h6 class="textoValidade">12/35</h6>
                            </div>
                            <div class="numCartao">
                                <h6 class="textoNCartao">2778 **** **** 1937</h6>
                                <img src="../Images/icones/bandeiraCard.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-transacoes">
                    <h4>Transações Recentes</h4>
                    <div class="transacoes">
                        <div class="transacao1">
                          <img src="../Images/icones/iconefatura.png">
                          <div class="nomeTransacao1">
                            <h6>Fatura</h6>
                            <h7>28 agosto 2024</h7>
                          </div>  
                          <h7>-1233,00</h7>
                        </div>
                        <div class="transacao2">
                            <img src="../Images/icones/iconeSalario.png">
                            <div  class="nomeTransacao2">
                              <h6>Salario</h6>
                              <h8>05 agosto 2024</h8>
                            </div>  
                            <h7>+1233,00</h7>
                        </div>
                        <div class="transacao3">
                            <img src="../Images/icones/iconePix.png">
                            <div  class="nomeTransacao3">
                              <h6>Pix Rogerinho</h6>
                              <h8>05 agosto 2024</h8>
                            </div>  
                            <h7>+1,00</h7>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../js/home.js"></script>
</html>