<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <title>COFRINHO DIGITAL</title>
</head>
<body>
    <div class="left-content">
        <div class="nav-bar">
            <img src="../Images/icones/iconePrenchidoPig.png">
            <div class="navTexto">
                <ul class="navLista">
                    <li><button class="navBotao" id="home">Home</button></li>
                    <li><button class="navBotao" id="login">Login</button></li>
                    <li><button class="navBotao" id="biografia">Quem nós somos?</button></li>
                </ul>
            </div> 
        </div>
        <div class="textoCentro">
                <p id="textoC1">Controle suas finanças de forma simples e inteligente.</p>
                <p id="textoC2">Acompanhe seus gastos, planeje seu futuro e alcance suas metas financeiras com facilidade.</p>
        </div>
        <div class="botaoCadastro">
            <button><a href="Cadastro.html">Cadastre-se já</a></button>
            <a>Já tem seu cofrinho digital?<button>Login</button></a> 
        </div>
    </div>
    <div class="right-content">
        <img src="../Images/vetorFundo.png" id="fundo">
        <img src="../Images/imagemIndex.png" id = "imagemindex">
    </div>
</body>
<script src="../js/index.js"></script>
</html>
