<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/listaEndereco.css">
    <title>Enderecos</title>
</head>
<body>

    <div class="nav">
        <img src="../Images/btnVoltar.png">
        <h2>LISTA DE ENDEREÇO</h2>
    </div>

    <div class="content">
    <div class="left-content">
        <div class="endereco">
            <img src="../Images/icones/iconLocal.png">
            <div class="txtEndereco">
                <h7>Endereco 1</h7>
                <h4>Rua dos bobos - Nº 04 - Alphavile</h4>
            </div>
        </div>
        <div class="endereco">
            <img src="../Images/icones/iconLocal.png" class="iconMapa">
            <div class="txtEndereco">
                <h7>Endereco 2</h7>
                <h4>Rua dos bobos - Nº 07 - Alphavile</h4>
            </div>
        </div>
        <div class="endereco">
            <img src="../Images/icones/iconLocal.png" class="iconMapa">
            <div class="txtEndereco">
                <h7>Endereco 3</h7>
                <h4>Rua dos bobos - Nº 09 - Alphavile</h4>
            </div>
        </div>
        <div class="endereco">
            <img src="../Images/icones/iconLocal.png" class="iconMapa">
            <div class="txtEndereco">
                <h7>Endereco 4</h7>
                <h4>Rua dos bobos - Nº 134 - Alphavile</h4>
            </div>
        </div>
    </div>

    <div class="right-content">
        <img src="../Images/imgMaps.png" class="image-right">
    </div>

    </div>

</body>
</html>